---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=denver,co&key=<DONT_EXPOSE_MY_DATA>&to
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 19 Jan 2021 18:50:26 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"routeError":{"errorCode":211,"message":""}},"info":{"statuscode":611,"copyright":{"imageAltText":"©
        2020 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","text":"©
        2020 MapQuest, Inc."},"messages":["At least two locations must be provided."]}}'
  recorded_at: Tue, 19 Jan 2021 18:50:26 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat&lon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"400","message":"Nothing to geocode"}'
  recorded_at: Tue, 19 Jan 2021 18:50:26 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat&lon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"400","message":"Nothing to geocode"}'
  recorded_at: Tue, 19 Jan 2021 18:51:05 GMT
recorded_with: VCR 6.0.0
