---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=tillamook,or&key=<DONT_EXPOSE_MY_DATA>&to=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 18 Jan 2021 19:16:51 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.858307,"lat":39.738453},"ul":{"lng":-123.838249,"lat":45.615078}},"distance":1330.5331,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"18:44:07","sessionId":"6005dea3-0105-5f21-02b4-3542-0a3a94b98c71","hasAccessRestriction":false,"realTime":75985,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":69.79,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to DENVER, CO.","distance":1330.5331,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"index":0,"formattedTime":"18:44:07","origIndex":1,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":9,"time":67447,"hasUnpaved":false,"origNarrative":"Go
        east on OR-6.","maneuvers":[{"distance":0.05,"streets":["Miller Ave"],"narrative":"Start
        out going north on Miller Ave toward OR-6.","turnType":0,"startPoint":{"lng":-123.838249,"lat":45.456043},"index":0,"formattedTime":"00:00:10","directionName":"North","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_EXPOSE_MY_DATA>&size=225,160&locations=45.4560432434082,-123.83824920654297|marker-1||45.45676040649414,-123.8382339477539|marker-2||&center=45.45640182495117,-123.83824157714844&defaultMarker=none&zoom=14&rand=-1543755361&session=6005dea3-0105-5f21-02b4-3542-0a3a94b98c71","transportMode":"AUTO","attributes":0,"time":10,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":1},{"distance":50.947,"streets":["OR-6"],"narrative":"Turn
        right onto OR-6.","turnType":2,"startPoint":{"lng":-123.838234,"lat":45.45676},"index":1,"formattedTime":"00:58:07","directionName":"East","maneuverNotes":[],"linkIds":[],"signs":[{"extraText":"","text":"6","type":536,"url":"http://icons.mqcdn.com/icons/rs536.png?n=6","direction":0}],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_EXPOSE_MY_DATA>&size=225,160&locations=45.45676040649414,-123.8382339477539|marker-2||45.61507797241211,-123.06401062011719|marker-3||&center=45.535919189453125,-123.45112228393555&defaultMarker=none&zoom=5&rand=-1543755361&session=6005dea3-0105-5f21-02b4-3542-0a3a94b98c71","transportMode":"AUTO","attributes":1024,"time":3487,"iconUrl":"http://content.mqcdn.com/mqsite/turn[...]
