---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<DONT_EXPOSE_MY_DATA>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 17 Jan 2021 15:50:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_EXPOSE_MY_DATA>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1404026796"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_EXPOSE_MY_DATA>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1815046731"}]}]}'
  recorded_at: Sun, 17 Jan 2021 15:50:52 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610898653,"sunrise":1610893087,"sunset":1610928108,"temp":273.16,"feels_like":269.81,"pressure":1021,"humidity":63,"dew_point":267.66,"uvi":0.53,"clouds":100,"visibility":10000,"wind_speed":0.89,"wind_deg":204,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1610895600,"temp":273.16,"feels_like":269.59,"pressure":1021,"humidity":63,"dew_point":267.66,"uvi":0.18,"clouds":100,"visibility":10000,"wind_speed":1.2,"wind_deg":241,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1610899200,"temp":274.16,"feels_like":270.2,"pressure":1021,"humidity":66,"dew_point":269.06,"uvi":0.53,"clouds":100,"visibility":10000,"wind_speed":1.99,"wind_deg":197,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1610902800,"temp":275.81,"feels_like":271.41,"pressure":1020,"humidity":61,"dew_point":269.52,"uvi":1.07,"clouds":100,"visibility":10000,"wind_speed":2.7,"wind_deg":201,"weather":[{"id":804,"main":"Clouds","descript[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610900081,"sunrise":1610893087,"sunset":1610928108,"temp":273.74,"feels_like":270.62,"pressure":1017,"humidity":57,"dew_point":266.99,"uvi":0.53,"clouds":100,"visibility":10000,"wind_speed":0.45,"wind_deg":152,"wind_gust":1.34,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1610899200,"temp":273.74,"feels_like":269.55,"pressure":1017,"humidity":57,"dew_point":266.99,"uvi":0.53,"clouds":100,"visibility":10000,"wind_speed":1.99,"wind_deg":197,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1610902800,"temp":275.11,"feels_like":270.59,"pressure":1018,"humidity":59,"dew_point":268.54,"uvi":1.07,"clo[...]
[...]
