---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<DONT_EXPOSE_MY_DATA>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 17 Jan 2021 19:11:52 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_EXPOSE_MY_DATA>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1382512447"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_EXPOSE_MY_DATA>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=549191375"}]}]}'
  recorded_at: Sun, 17 Jan 2021 19:11:52 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610910712,"sunrise":1610893087,"sunset":1610928108,"temp":280.38,"feels_like":276.84,"pressure":1017,"humidity":40,"dew_point":268.31,"uvi":1.84,"clouds":100,"visibility":10000,"wind_speed":1.26,"wind_deg":187,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1610910000,"temp":280.38,"feels_like":276.84,"pressure":1017,"humidity":40,"dew_point":268.31,"uvi":1.84,"clouds":100,"visibility":10000,"wind_speed":1.26,"wind_deg":187,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1610913600,"temp":280.25,"feels_like":277.17,"pressure":1017,"humidity":44,"dew_point":269.32,"uvi":1.65,"clouds":98,"visibility":10000,"wind_speed":0.77,"wind_deg":173,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1610917200,"temp":280.78,"feels_like":277.6,"pressure":1015,"humidity":44,"dew_point":269.75,"uvi":1.13,"clouds":76,"visibility":10000,"wind_speed":1,"wind_deg":174,"weather":[{"id":803,"main":"Clouds","description"[...]
[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=cuyjne7w4R1f_4dz9rl7kxKBwmHmIUzAwu5QyJjfcqE&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=cuyjne7w4R1f_4dz9rl7kxKBwmHmIUzAwu5QyJjfcqE&page=236&query=denver%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=cuyjne7w4R1f_4dz9rl7kxKBwmHmIUzAwu5QyJjfcqE&page=2&query=denver%2Cco>;
        rel="next"
      X-Total:
      - '2352'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: '{"total":2352,"total_pages":236,"results":[{"id":"hdzGZRCYMSU","created_at":"2020-09-13T19:54:14-04:00","updated_at":"2021-01-17T01:19:07-05:00","promoted_at":null,"width":3888,"height":5184,"color":"#d9f3f3","blur_hash":"LsG,S1WCtRkC02axWBays:adV@js","description":null,"alt_description":"man
        in blue jacket and black pants riding on snowboard during daytime","urls":{"raw":"https://images.unsplash.com/photo-1600041161228-519e6dd27bac?ixid=MXwxOTkzMjd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsY298ZW58MHx8fA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1600041161228-519e6dd27bac?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwxOTkzMjd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1600041161228-519e6dd27bac?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkzMjd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1600041161228-519e6dd27bac?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkzMjd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1600041161228-519e6dd27bac?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkzMjd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/hdzGZRCYMSU","html":"https://unsplash.com/photos/hdzGZRCYMSU","download":"https://unsplash.com/photos/hdzGZRCYMSU/download","download_location":"https://api.unsplash.com/photos/hdzGZRCYMSU/download"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"uMT_KSln-6U","updated_at":"2021-01-14T14:36:38-05:00","username":"mikekilcoyne","name":"Michael
        Kilcoyne","first_name":"Michael","last_name":"Kilcoyne","twitter_username":"mikekilcoyne","portfolio_url":"http://mikekilcoyne.com","bio":"I
        love capturing people, animal, places, and things in their element. ","location":"Istanbul,
        Turkey","links":{"self":"https://api.unsplash.com/users/mikekilcoyne","html":"https://unsplash.com/@mikekilcoyne","photos":"https://api.unsplash.com/users/mikekilcoyne/photos","likes":"https://api.unsplash.com/users/mikekilcoyne/likes","portfolio":"https://api.unsplash.com/users/mikekilcoyne/portfolio","following":"https://api.unsplash.com/users/mikekilcoyne/following","followers":"https://api.unsplash.com/users/mikekilcoyne/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1598778372638-601d72333823image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1598778372638-601d72333823image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1598778372638-601d72333823image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"itsmemikekilcoyne","total_collections":1,"total_likes":3,"total_photos":78,"accepted_tos":true},"tags":[{"type":"search","title":"human"},{"type":"landing_page","title":"person","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"people","pretty_slug":"People"}},"title":"People
        Images \u0026 Pictures","subtitle":"Download free people images","description":"Human
        faces speak to us in a way that language cannot. Everyone recognize a smile,
        a frown, tears. Unsplash has the finest selection of people images on the
        web: high-def and curated for quality. Family, friends, men, women, Unsplash
        has photos for all.","meta_title":"People Pictures [HQ] | Download Free Images
        on Unsplash","meta_description":"Choose from hundreds of free people pictures.
        Download HD people photos for free on Unsplash.","cover_photo":{"id":"PmNjS6b3XP4","created_at":"2017-04-20T18:04:07-04:00","updated_at":"2020-12-22T02:01:25-05:00","promoted_at":"2017-04-21T12:00:49-04:00","width":4630,"height":3087,"color":"#a6d9d9","blur_hash":"LjI=x%:QUbv#NHWVa}kCt7jFjZfQ","description":"Summer
        in France with baby","alt_description":"woman carrying baby while walking","urls":{"raw":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ix[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610915093,"sunrise":1610893087,"sunset":1610928108,"temp":281.75,"feels_like":278.47,"pressure":1016,"humidity":28,"dew_point":265.26,"uvi":1.65,"clouds":84,"visibility":10000,"wind_speed":0.45,"wind_deg":46,"wind_gust":1.79,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1610913600,"temp":281.75,"feels_like":278.07,"pressure":1016,"humidity":28,"dew_point":265.26,"uvi":1.65,"clouds":84,"visibility":10000,"wind_speed":1.01,"wind_deg":146,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1610917200,"temp":281.25,"feels_like":277.87,"pressure":1015,"humidity":37,"dew_point":268.09,"uvi":1.13,"clouds":[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611001217,"sunrise":1610979458,"sunset":1611014575,"temp":275.54,"feels_like":272.16,"pressure":1018,"humidity":52,"dew_point":267.42,"uvi":1.76,"clouds":28,"visibility":10000,"wind_speed":0.89,"wind_deg":81,"wind_gust":2.24,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1611000000,"temp":275.54,"feels_like":271.42,"pressure":1018,"humidity":52,"dew_point":267.42,"uvi":1.76,"clouds":28,"visibility":10000,"wind_speed":1.95,"wind_deg":198,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1611003600,"temp":276.29,"feels_like":272.37,"pressure":1018,"humidity":58,"dew_point":269.33,"uvi":1.21,"clouds":27,"visibility":10000,"wind_speed":1.97,"wind_deg":195,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.2,"rain":{"1h":0.49}},{"dt":1611007200,"temp":276.86,"feels_like":273.2,"pressure":1019,"humidity":60,"dew_point":270.21,"uvi":0.53,"clouds":39,"visibility":10000,"wind_speed":1.76,"wind_deg":198,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1611010800,"temp":277.03,"feels_like":274,"pressure":1020,"humidity":60,"dew_point":270.35,"uvi":0.16,"clouds":52,"visibility":10000,"wind_speed":0.9,"wind_deg":177,"weather":[{"id":803,"main":"Clouds","de[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611002263,"sunrise":1610979458,"sunset":1611014575,"temp":275.76,"feels_like":272.38,"pressure":1018,"humidity":51,"dew_point":267.38,"uvi":1.21,"clouds":0,"visibility":10000,"wind_speed":0.89,"wind_deg":90,"wind_gust":2.68,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1611002280,"precipitation":0},{"dt":1611002340,"precipitation":0},{"dt":1611002400,"precipitation":0},{"dt":1611002460,"precipitation":0},{"dt":1611002520,"precipitation":0},{"dt":1611002580,"precipitation":0},{"dt":1611002640,"precipitation":0},{"dt":1611002700,"precipitation":0},{"dt":1611002760,"precipitation":0},{"dt":1611002820,"precipitation":0},{"dt":1611002880,"precipitation":0},{"dt":1611002940,"precipitation":0},{"dt":1611003000,"precipitation":0},{"dt":1611003060,"precipitation":0},{"dt":1611003120,"precipitati[...]
[...]
