---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=45.456&lon=-123.8382
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.456,"lon":-123.8382,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1610853245,"sunrise":1610812233,"sunset":1610845173,"temp":281.4,"feels_like":279.47,"pressure":1028,"humidity":93,"dew_point":280.34,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":1.82,"wind_deg":128,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1610852400,"temp":281.4,"feels_like":279.47,"pressure":1028,"humidity":93,"dew_point":280.34,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":1.82,"wind_deg":128,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1610856000,"temp":281.84,"feels_like":279.61,"pressure":1028,"humidity":84,"dew_point":279.29,"uvi":0,"clouds":69,"visibility":10000,"wind_speed":1.91,"wind_deg":137,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1610859600,"temp":281.92,"feels_like":279.85,"pressure":1027,"humidity":79,"dew_point":278.48,"uvi":0,"clouds":87,"visibility":10000,"wind_speed":1.44,"wind_deg":118,"weather":[{"id":804,"main":"Clouds","description":"ov[...]
[...]
