---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=45.456&lon=-123.8382
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.456,"lon":-123.8382,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1610854066,"sunrise":1610812233,"sunset":1610845173,"temp":281.39,"feels_like":279.72,"pressure":1027,"humidity":100,"dew_point":281.39,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":1.8,"wind_deg":124,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1610852400,"temp":281.39,"feels_like":279.72,"pressure":1027,"humidity":100,"dew_point":281.39,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":1.8,"wind_deg":124,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1610856000,"temp":281.56,"feels_like":279.67,"pressure":1027,"humidity":88,"dew_point":279.69,"uvi":0,"clouds":69,"visibility":10000,"wind_speed":1.55,"wind_deg":123,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1610859600,"temp":281.64,"feels_like":279.51,"pressure":1027,"humidity":80,"dew_point":278.39,"uvi":0,"clouds":87,"visibility":10000,"wind_speed":1.51,"wind_deg":116,"weather":[{"id":804,"main":"Clouds","description":"ov[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=45.456&lon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"400","message":"Nothing to geocode"}'
  recorded_at: Sun, 17 Jan 2021 03:29:05 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=45.456&lon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"400","message":"Nothing to geocode"}'
  recorded_at: Sun, 17 Jan 2021 03:31:33 GMT
recorded_with: VCR 6.0.0
