---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Denver,CO&key=<DONT_EXPOSE_MY_DATA>&to=Pueblo,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 18 Jan 2021 20:01:43 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.605087,"lat":38.265427},"ul":{"lng":-104.98761,"lat":39.738453}},"distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"01:44:22","sessionId":"6005e927-021b-5f21-02b4-3355-063708275551","hasAccessRestriction":false,"realTime":6588,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":5.5,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to PUEBLO, CO.","distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"01:44:22","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":5,"time":6262,"hasUnpaved":false,"origNarrative":"Go
        south on N Broadway.","maneuvers":[{"distance":0.109,"streets":["N Sherman
        St"],"narrative":"Start out going south on N Sherman St toward E 13th Ave.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:33","directionName":"South","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_EXPOSE_MY_DATA>&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73687744140625,-104.9848403930664|marker-2||&center=39.7376651763916,-104.98484802246094&defaultMarker=none&zoom=13&rand=-1780011673&session=6005e927-021b-5f21-02b4-3355-063708275551","transportMode":"AUTO","attributes":0,"time":33,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":4},{"distance":0.135,"streets":["E
        13th Ave"],"narrative":"Turn right onto E 13th Ave.","turnType":2,"startPoint":{"lng":-104.98484,"lat":39.736877},"index":1,"formattedTime":"00:00:22","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_EXPOSE_MY_DATA>&size=225,160&locations=39.73687744140625,-104.9848403930664|marker-2||39.73686981201172,-104.98737335205078|marker-3||&center=39.736873626708984,-104.9861068725[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts&lat=38.265425&lon=-104.610415
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611010563,"sunrise":1610979147,"sunset":1611014707,"temp":277.7,"feels_like":271.55,"pressure":1017,"humidity":39,"dew_point":265.86,"uvi":0.2,"clouds":90,"visibility":10000,"wind_speed":4.63,"wind_deg":60,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1611010620,"precipitation":0},{"dt":1611010680,"precipitation":0},{"dt":1611010740,"precipitation":0},{"dt":1611010800,"precipitation":0},{"dt":1611010860,"precipitation":0},{"dt":1611010920,"precipitation":0},{"dt":1611010980,"precipitation":0},{"dt":1611011040,"precipitation":0},{"dt":1611011100,"precipitation":0},{"dt":1611011160,"precipitation":0},{"dt":1611011220,"precipitation":0},{"dt":1611011280,"precipitation":0},{"dt":1611011340,"precipitation":0},{"dt":1611011400,"precipitation":0},{"dt":1611011460,"precipitati[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=38.265425&lon=-104.610415
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611010622,"sunrise":1610979147,"sunset":1611014707,"temp":277.7,"feels_like":271.55,"pressure":1017,"humidity":39,"dew_point":265.86,"uvi":0.2,"clouds":90,"visibility":10000,"wind_speed":4.63,"wind_deg":60,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1611007200,"temp":277.7,"feels_like":272.42,"pressure":1017,"humidity":39,"dew_point":265.86,"uvi":0.66,"clouds":90,"visibility":10000,"wind_speed":3.38,"wind_deg":105,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1611010800,"temp":277.94,"feels_like":272.88,"pressure":1017,"humidity":50,"dew_point":268.95,"uvi":0.2,"clouds":95,"visibility":10000,"wind_speed":3.54,"wind_deg":112,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.08},{"dt":1611014400,"temp":277.36,"feels_like":272.93,"pressure":1018,"humidity":60,"dew_point":270.62,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":2.95,"wind_deg":123,"weather":[{"id":804,"main":"Clouds","descripti[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=38.265425&lon=-104.610415
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611087193,"sunrise":1611065519,"sunset":1611101172,"temp":274.24,"feels_like":268.2,"pressure":1030,"humidity":55,"dew_point":266.99,"uvi":1.95,"clouds":20,"visibility":10000,"wind_speed":4.63,"wind_deg":210,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"snow":{"1h":0.76}},"hourly":[{"dt":1611086400,"temp":274.24,"feels_like":270.02,"pressure":1030,"humidity":55,"dew_point":266.99,"uvi":1.95,"clouds":20,"visibility":10000,"wind_speed":2.02,"wind_deg":182,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.08},{"dt":1611090000,"temp":274.37,"feels_like":269.86,"pressure":1030,"humidity":69,"dew_point":269.76,"uvi":1.34,"clouds":31,"visibility":10000,"wind_speed":2.9,"wind_deg":195,"weather":[{"id":802,"main":"[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=38.265425&lon=-104.610415
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611087516,"sunrise":1611065519,"sunset":1611101172,"temp":274.39,"feels_like":268.36,"pressure":1030,"humidity":55,"dew_point":267.12,"uvi":1.95,"clouds":20,"visibility":10000,"wind_speed":4.63,"wind_deg":210,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.76}},"hourly":[{"dt":1611086400,"temp":274.39,"feels_like":270.19,"pressure":1030,"humidity":55,"dew_point":267.12,"uvi":1.95,"clouds":20,"visibility":10000,"wind_speed":2.02,"wind_deg":182,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.08},{"dt":1611090000,"temp":274.45,"feels_like":269.95,"pressure":1030,"humidity":69,"dew_point":269.83,"uvi":1.34,"clouds":31,"visibility":10000,"wind_speed":2.9,"wind_deg":195,"weather":[{"id":802,"main":"[...]
[...]
