---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<DONT_EXPOSE_MY_DATA>&location=tillamook,or
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 17 Jan 2021 19:11:52 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"tillamook,or"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Tillamook","adminArea5Type":"City","adminArea4":"Tillamook
        County","adminArea4Type":"County","adminArea3":"OR","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282032992","unknownInput":"","type":"s","latLng":{"lat":45.456045,"lng":-123.838253},"displayLatLng":{"lat":45.456045,"lng":-123.838253},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_EXPOSE_MY_DATA>&type=map&size=225,160&locations=45.456045,-123.838253|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1417968467"}]}]}'
  recorded_at: Sun, 17 Jan 2021 19:11:52 GMT
recorded_with: VCR 6.0.0
