---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=45.456&lon=-123.8382
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.456,"lon":-123.8382,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1610910711,"sunrise":1610898594,"sunset":1610931652,"temp":281.89,"feels_like":280.38,"pressure":1034,"humidity":93,"dew_point":280.82,"uvi":0.85,"clouds":90,"visibility":10000,"wind_speed":1.38,"wind_deg":329,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1610910000,"temp":281.89,"feels_like":280.38,"pressure":1034,"humidity":93,"dew_point":280.82,"uvi":0.85,"clouds":90,"visibility":10000,"wind_speed":1.38,"wind_deg":329,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1610913600,"temp":282.99,"feels_like":280.92,"pressure":1033,"humidity":86,"dew_point":280.76,"uvi":1.04,"clouds":93,"visibility":10000,"wind_speed":2.16,"wind_deg":338,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1610917200,"temp":283.93,"feels_like":281.63,"pressure":1032,"humidity":78,"dew_point":280.25,"uvi":0.98,"clouds":96,"visibility":10000,"wind_speed":2.32,"wind_deg":343,"weather":[{"id":804,"main":"Clouds","descript[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts&lat=45.456&lon=-123.8382
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.456,"lon":-123.8382,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1611002261,"sunrise":1610984953,"sunset":1611018132,"temp":281.62,"feels_like":279.99,"pressure":1033,"humidity":93,"dew_point":280.55,"uvi":1.04,"clouds":1,"visibility":10000,"wind_speed":1.47,"wind_deg":350,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1611002280,"precipitation":0},{"dt":1611002340,"precipitation":0},{"dt":1611002400,"precipitation":0},{"dt":1611002460,"precipitation":0},{"dt":1611002520,"precipitation":0},{"dt":1611002580,"precipitation":0},{"dt":1611002640,"precipitation":0},{"dt":1611002700,"precipitation":0},{"dt":1611002760,"precipitation":0},{"dt":1611002820,"precipitation":0},{"dt":1611002880,"precipitation":0},{"dt":1611002940,"precipitation":0},{"dt":1611003000,"precipitation":0},{"dt":1611003060,"precipitation":0},{"dt":1611003120,"precipitati[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=45.456&lon=-123.8382
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.456,"lon":-123.8382,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1611096658,"sunrise":1611071310,"sunset":1611104612,"temp":284.56,"feels_like":279.59,"pressure":1029,"humidity":43,"dew_point":272.52,"uvi":0.42,"clouds":1,"visibility":10000,"wind_speed":4.12,"wind_deg":320,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.25}},"hourly":[{"dt":1611093600,"temp":284.56,"feels_like":282.44,"pressure":1029,"humidity":43,"dew_point":272.52,"uvi":0.8,"clouds":1,"visibility":10000,"wind_speed":0.04,"wind_deg":67,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1611097200,"temp":284.67,"feels_like":282.36,"pressure":1029,"humidity":46,"dew_point":273.46,"uvi":0.42,"clouds":27,"visibility":10000,"wind_speed":0.53,"wind_deg":339,"weather":[{"id":802,"main":"Clouds"[...]
[...]
