---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=denver,co&open_at=1611083495
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Fv3iehwgkB9_XvWrJSKFFsVVy-kj3zdUeldW9lQ3JEt_9AZ-sTugSHrY5qZPORd5bL27VWpW4rsS1bv9ytUVMLX7Hv-eBn4oGXPVLgWgt6Cd3SIsDJ32sXvJU_4FYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4975'
      X-Zipkin-Id:
      - 77e9cd115a1ddfeb
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-n4dbm; site=public_api_v3
      X-Proxied:
      - 10-69-95-86-uswest2aprod
      X-Extlb:
      - 10-69-95-86-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "6kRbrLNIZKZ1fcjgsTFobg", "alias": "fortune-wok-to-table-denver",
        "name": "Fortune Wok to Table", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/aVmP8cWwrCsLWWjwx8wvjg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/fortune-wok-to-table-denver?adjust_creative=9-SbLCptYcvw7TaCfk_IGQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9-SbLCptYcvw7TaCfk_IGQ",
        "review_count": 300, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.5, "coordinates": {"latitude": 39.72124, "longitude": -104.9543},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "2817
        E 3rd Ave", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80206", "country": "US", "state": "CO", "display_address": ["2817 E 3rd Ave",
        "Denver, CO 80206"]}, "phone": "+13033217788", "display_phone": "(303) 321-7788",
        "distance": 2093.330545587293}, {"id": "fXA9hf0IfVRtvSEc9mxnPw", "alias":
        "star-kitchen-denver", "name": "Star Kitchen", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/OLK3HugQmxZNFbEzsQNcng/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/star-kitchen-denver?adjust_creative=9-SbLCptYcvw7TaCfk_IGQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9-SbLCptYcvw7TaCfk_IGQ",
        "review_count": 965, "categories": [{"alias": "dimsum", "title": "Dim Sum"[...]
