---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=45.456&lon=-123.8382
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.456,"lon":-123.8382,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1610910711,"sunrise":1610898594,"sunset":1610931652,"temp":281.89,"feels_like":280.38,"pressure":1034,"humidity":93,"dew_point":280.82,"uvi":0.85,"clouds":90,"visibility":10000,"wind_speed":1.38,"wind_deg":329,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1610910000,"temp":281.89,"feels_like":280.38,"pressure":1034,"humidity":93,"dew_point":280.82,"uvi":0.85,"clouds":90,"visibility":10000,"wind_speed":1.38,"wind_deg":329,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1610913600,"temp":282.99,"feels_like":280.92,"pressure":1033,"humidity":86,"dew_point":280.76,"uvi":1.04,"clouds":93,"visibility":10000,"wind_speed":2.16,"wind_deg":338,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1610917200,"temp":283.93,"feels_like":281.63,"pressure":1032,"humidity":78,"dew_point":280.25,"uvi":0.98,"clouds":96,"visibility":10000,"wind_speed":2.32,"wind_deg":343,"weather":[{"id":804,"main":"Clouds","descript[...]
[...]
