---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=45.456&lon=-123.8382
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.456,"lon":-123.8382,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1611114299,"sunrise":1611071310,"sunset":1611104612,"temp":277.33,"feels_like":274.97,"pressure":1026,"humidity":100,"dew_point":277.33,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":1.54,"wind_deg":72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1611111600,"temp":277.33,"feels_like":274.97,"pressure":1026,"humidity":100,"dew_point":277.33,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":1.54,"wind_deg":72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1611115200,"temp":278.31,"feels_like":275.53,"pressure":1026,"humidity":81,"dew_point":275.32,"uvi":0,"clouds":49,"visibility":10000,"wind_speed":1.62,"wind_deg":82,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1611118800,"temp":278.8,"feels_like":275.79,"pressure":1025,"humidity":70,"dew_point":273.76,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":1.6,"wind_deg":98,"weather":[{"id":803,"main":"Clouds","description":"bro[...]
[...]
