---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_EXPOSE_MY_DATA>&exclude=alerts,minutely&lat=45.456&lon=-123.8382
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.456,"lon":-123.8382,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1610833993,"sunrise":1610812233,"sunset":1610845173,"temp":282.6,"feels_like":280.32,"pressure":1029,"humidity":81,"dew_point":279.51,"uvi":0.74,"clouds":1,"visibility":10000,"wind_speed":2.06,"wind_deg":320,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1610830800,"temp":282.6,"feels_like":281.49,"pressure":1029,"humidity":81,"dew_point":279.51,"uvi":0.91,"clouds":1,"visibility":10000,"wind_speed":0.38,"wind_deg":282,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1610834400,"temp":283.98,"feels_like":282.64,"pressure":1028,"humidity":68,"dew_point":278.32,"uvi":0.74,"clouds":49,"visibility":10000,"wind_speed":0.36,"wind_deg":220,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1610838000,"temp":284.67,"feels_like":283.37,"pressure":1027,"humidity":66,"dew_point":278.55,"uvi":0.39,"clouds":78,"visibility":10000,"wind_speed":0.37,"wind_deg":167,"weather":[{"id":803,"main":"Clouds","descrip[...]
[...]
