---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Tillamook,OR&key=<DONT_EXPOSE_MY_DATA>&to=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 18 Jan 2021 18:46:42 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"routeError":{"errorCode":211,"message":""}},"info":{"statuscode":611,"copyright":{"imageAltText":"©
        2020 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","text":"©
        2020 MapQuest, Inc."},"messages":["At least two locations must be provided."]}}'
  recorded_at: Mon, 18 Jan 2021 18:46:42 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Tillamook,OR&key=<DONT_EXPOSE_MY_DATA>&to=asfasrfgasdfg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Wed, 20 Jan 2021 00:25:48 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-99.063385,"lat":39.390808},"ul":{"lng":-123.838249,"lat":45.615078}},"distance":1639.4531,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"23:28:55","sessionId":"6007788b-038a-5f21-02b4-3337-0a93d48cb9cb","hasAccessRestriction":false,"realTime":95221,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":85.87,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to US.","distance":1639.4531,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"index":0,"formattedTime":"23:28:55","origIndex":1,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":12,"time":84535,"hasUnpaved":true,"origNarrative":"Go
        east on OR-6.","maneuvers":[{"distance":0.05,"streets":["Miller Ave"],"narrative":"Start
        out going north on Miller Ave toward OR-6.","turnType":0,"startPoint":{"lng":-123.838249,"lat":45.456043},"index":0,"formattedTime":"00:00:10","directionName":"North","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_EXPOSE_MY_DATA>&size=225,160&locations=45.4560432434082,-123.83824920654297|marker-1||45.45676040649414,-123.8382339477539|marker-2||&center=45.45640182495117,-123.83824157714844&defaultMarker=none&zoom=14&rand=-1953809695&session=6007788b-038a-5f21-02b4-3337-0a93d48cb9cb","transportMode":"AUTO","attributes":0,"time":10,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":1},{"distance":50.947,"streets":["OR-6"],"narrative":"Turn
        right onto OR-6.","turnType":2,"startPoint":{"lng":-123.838234,"lat":45.45676},"index":1,"formattedTime":"00:58:07","directionName":"East","maneuverNotes":[],"linkIds":[],"signs":[{"extraText":"","text":"6","type":536,"url":"http://icons.mqcdn.com/icons/rs536.png?n=6","direction":0}],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_EXPOSE_MY_DATA>&size=225,160&locations=45.45676040649414,-123.8382339477539|marker-2||45.61507797241211,-123.06401062011719|marker-3||&center=45.535919189453125,-123.45112228393555&defaultMarker=none&zoom=5&rand=-1953809695&session=6007788b-038a-5f21-02b4-3337-0a93d48cb9cb","transportMode":"AUTO","attributes":1024,"time":3487,"iconUrl":"http://content.mqcdn.com/mqsite/turn[...]
